<main class="p-3">
  <hgroup>
    <h2>Job tracker</h2>
    <h3>Track and organize your job search</h3>
    <h4>All your jobs search in one board</h4>
  </hgroup>
  @if (showForm) {
  <section class="flex flex-column gap-3 max-w-30rem m-auto">
    <p-button
      severity="secondary"
      label="Cancel"
      icon="pi pi-plus-circle"
      (onClick)="showForm = false"
    />
    <app-jat-form
      [currentApp]="currentApp"
      (notifyEvent)="onNotifyEvent($event)"
    />
  </section>
  } @else {
  <section class="flex flex-column gap-3">
    <p-button
      severity="help"
      label="Add"
      icon="pi pi-plus-circle"
      (onClick)="showForm = true"
    />
    <app-jat-table
      (handleEditEvent)="onEditEvent($event)"
      (notifyEvent)="onNotifyEvent($event)"
    />
  </section>
  }
</main>
<aside>
  <p-toast
    position="top-center"
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
</aside>
