<main>
  <hgroup>
    <h2>Job tracker</h2>
    <h3>Track and organize your job search</h3>
    <h4>All your jobs search in one board</h4>
  </hgroup>
  <section>
    @if (showForm) {
    <app-jat-form />
    } @else {
    <p-button
      label="Add"
      icon="pi pi-plus-circle"
      (onClick)="showForm = true"
    />
    <app-jat-table />
    }
  </section>
</main>
<aside>
  <p-toast
    position="top-center"
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
</aside>
