<header class="flex justify-content-between align-items-center mb-3">
  <h1>Job Application Tracker</h1>
  @if (currentSession) {
  <div>
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
      size="xlarge"
      shape="circle"
      pTooltip="Jane"
      tooltipPosition="bottom"
    />
  </div>
  }
  <div class="text-center">
    <p class="mb-2">
      <i class="pi pi-{{ isDarkMode ? 'moon' : 'sun' }}"></i>
    </p>
    <p-inputSwitch [ngModel]="isDarkMode" (ngModelChange)="toggleTheme()" />
  </div>
</header>
