<main>
  <h2>Account</h2>
  @if(isLoggedIn) { @if (currentSession) {
  <p>Do you want to update your profile?</p>
  }@else {
  <p>Welcome!, to start please, first complete your profile</p>
  }
  <form [formGroup]="accountForm" (ngSubmit)="handleSubmit()">
    <div class="flex flex-column gap-2">
      <label for="firstName">First Name</label>
      <input
        pInputText
        id="firstName"
        aria-describedby="firstName-help"
        autocomplete="off"
        formControlName="firstName"
      />
    </div>
    <div class="flex flex-column gap-2">
      <label for="lastName">Last Name</label>
      <input
        pInputText
        id="lastName"
        aria-describedby="lastName-help"
        autocomplete="off"
        formControlName="lastName"
      />
    </div>
    <div class="flex flex-column gap-2">
      <label for="nickname">Nickname</label>
      <input
        pInputText
        id="nickname"
        aria-describedby="nickname-help"
        autocomplete="off"
        formControlName="nickname"
      />
    </div>
    <div class="flex flex-column gap-2">
      <label for="image">Image</label>
      <p-fileUpload
        id="image"
        aria-describedby="image-help"
        mode="basic"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        accept="image/png"
        maxFileSize="1024000"
        (onSelect)="handleSelect($event)"
      />
    </div>
    <div class="flex flex-column gap-2">
      <label for="phone">Phone</label>
      <p-inputNumber
        inputId="integeronly"
        id="phone"
        aria-describedby="phone-help"
        autocomplete="off"
        formControlName="phone"
      />
    </div>
    <div class="flex flex-column gap-2">
      <label for="birthDay">Birth Day</label>
      <p-calendar
        id="birthDay"
        aria-describedby="birthDay-help"
        autocomplete="off"
        formControlName="birthDay"
      />
    </div>
    <p-button type="submit" label="Submit" [raised]="true" severity="help" />
    <!-- [disabled]="!accountForm.valid" -->
  </form>
  }@else {<p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="false"
  />}
</main>
<aside>
  <p-toast
    position="top-center"
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
</aside>
