<main class="max-w-30rem m-auto p-3">
  <h2>Sign In</h2>
  <form [formGroup]="signInForm" (ngSubmit)="handleSignIn()">
    <div class="flex flex-column gap-1 mt-2">
      <label for="username">Username</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        autocomplete="off"
        formControlName="username"
      />
    </div>
    <div class="flex flex-column gap-1 mt-2 mb-3">
      <label for="password">Password</label>
      <p-password
        [inputStyle]="{ width: '100%' }"
        [style]="{ width: '100%' }"
        [toggleMask]="true"
        [feedback]="false"
        inputId="password"
        autocomplete="off"
        formControlName="password"
      />
    </div>
    <p-button
      type="submit"
      label="Sign In"
      [raised]="true"
      severity="help"
      [disabled]="!signInForm.valid"
    />
  </form>
  <div class="flex align-items-center">
    <p>Not a member yet?</p>
    <p-button
      label="Sign Up"
      [link]="true"
      (onClick)="router.navigateByUrl('/sign-up')"
    />
  </div>
</main>
<aside>
  <p-toast
    position="top-center"
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />
</aside>
